<section class="d-flex justify-content-center">
  <section class="mt-5 w-50">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="****">
      </div>
      <div class="mb-3">
        <label for="fName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fName" formControlName="fName" placeholder="first name">
      </div>
      <div class="mb-3">
        <label for="sName" class="form-label">Second Name</label>
        <input type="text" class="form-control" id="sName" formControlName="sName" placeholder="second name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Add User</button>
      <!--<button type="button" class="btn btn-primary" (click)="test()">Test</button>-->
    </form>
  </section>
</section>
<section class="d-flex justify-content-center">
  <section class="mt-5 w-50">
    <h2 class="text-center">User List</h2>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">ID</th>
        <th scope="col">UserName</th>
        <th scope="col">First Name</th>
        <th scope="col">Second Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="users.length===0">
        <td colspan="6" class="text-center">No Users Found.</td>
      </tr>

      <tr *ngFor="let u of users">
        <td><button class="btn btn-primary mx-2" (click)="deleteUser(u.id)"> Delete</button> <button class="btn btn-primary"> Edit</button></td>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.fName }}</td>
        <td>{{ u.sName }}</td>
        <td>{{ u.email }}</td>
      </tr>



      </tbody>
    </table>

  </section>

</section>
